/*#dca115 = gold*/
/*#000000 = black*/

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 3px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: montserrat;
}

nav {
	background: #000000;
	height: 60px;
	width: 100%;
	z-index: 1;
}

label.logo img {
	height: 50px;
	padding-left: 170px;
	padding-top: 15px;

}

nav ul {
	float: right;
	margin-right: 220px;
}

nav ul li {
	display: inline-block;
	line-height: 60px;
	margin: 0 15px;
}

nav ul li a {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}

li:hover a{
	color: #dca115;
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 60px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}



.home {
	background-color: #FFFFFF;
	height: 100vh;
	background-image: url("./../images/background1.png");
	background-size: cover;
	background-attachment: fixed;	
}

.container1 {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h1 {
	text-align: center;
	font-size: 35px;
	color: #333;
}

p {
	text-align: center;
	color: #333;
	font-size: 15px;
}

button {
	background-color: #000000;
	display: block;
	color: white;
	padding: 10px 50px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
button a {
	color: white;
	text-decoration: none;
}
button a:hover {
	color: #dca115;
}
.about {
	background-color: #FFFFFF;
}


.aboutContent {
	text-align: center;
	padding-bottom: 25px;
}

.aboutContent h6 {
	padding-top: 45px;
	font-size: 27px;
	padding-bottom: 20px;
}

.aboutContent p {
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 20px;
}

.services {
	background-color: #000000;
}


.servicesContent1 {
	width: 49%;
	display: inline-block;
}

.servicesContent2 {
	width: 49%;
	display: inline-block;
}

.servicesContent1 h6 {
	color: #D3D3D3;
	font-size: 27px;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 200px;
}

.servicesContent2 h6 {
	color: #D3D3D3;
	font-size: 27px;
	padding-top: 40px;
	padding-bottom: 20px;
}

.servicesContent1 p {
	color: #D3D3D3;
	text-align: left;
	padding-bottom: 25px;
	padding-left: 200px;
}

.servicesContent2 p {
	color: #D3D3D3;
	text-align: left;
	padding-bottom: 25px;
	padding-right: 200px;
}


.contacts {
	background-color: #FFFFFF;
}

.row {
	background-color: #DDE5E5;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
}

.contactsContent1 {
	width: 49%;
	display: inline-block;
}

.contactsContent2 {
	width: 49%;
	display: inline-block;
	background-color: #000000;
	position: absolute;
	top: 30px;
	color: #DDE5E5;
}

.contactsContent1 h6 {
	text-align: left;
	padding: 30px;
	font-size: 27px;
}

.contactsContent1 p {
	text-align: left;
	padding-left: 30px;
	padding-bottom: 30px;
}

.contactsContent2 h6 {
	font-size: 27px;
	text-align: center;
	padding: 25px 0;
}

label {
	margin-left: 30px;
}

input[type=text] {
	width: 85%;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 8px;

}

input[type=email] {
	width: 85%;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 8px;
}

#number1 {
	width: 17%;
	margin-left: 30px;
	margin-bottom: 20px;
	padding: 8px;
}

#number2 {
	width: 66%;
	margin-right: 30px;
	margin-bottom: 20px;
	padding: 8px;
}

input[type=submit] {
	width: 45%;
	margin-left: 30px;
	margin-bottom: 20px;
	padding: 15px;
	background-color: #dca115;
	color: white; 
}
input[type=submit]:hover {
	background-color: #FFFFFF;
	color: #dca115; 
}

footer {
	background-color: #000000;
}
.footer1 {
	display: inline-block;
	width: 49%;
}
.footer2 {
	display: inline-block;
	width: 49%;
}
.footer1 img {
	padding-top: 30px;
	padding-left: 200px;
	width: 450px;
	height: auto;
}

.footer1 small {
	padding-left: 200px;
	color: #DDE5E5;
	font-size: 5px;
	margin-bottom: 50px;
}


.footer2 small {
	display: block;
	padding-right: 200px;
	text-align: right;
	color: #DDE5E5;
	font-size: 8px;
	margin-bottom: 10px;
}








/*Media Query*/
@media (max-width: 1024px) {

	label.logo img {
		height: 60px;
		padding: 0 68px;
	}
	
	nav ul {
		float: right;
		margin-right: 100px;
	}

	.aboutContent {
		padding: 10px 30px;
	}

	.aboutContent h6 {
		font-size: 20px;
		padding-bottom: 20px;
	}

	.aboutContent p {
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.footer1 {
		display: block;
		width: 100%;
	}
	.footer2 {
		display: block;
		width: 100%;
	}
	.footer1 img {
		display: block;	
		padding-top: 10px;
		padding-left: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		height: auto;
	}

	.footer1 small {
		text-align: center;
		display: block;	
		padding: 0;
		color: #DDE5E5;
		font-size: 8px;
		margin-bottom: 15px;
	}


	.footer2 small {
		display: block;
		padding: 0;
		text-align: center;
		color: #DDE5E5;
		font-size: 8px;
		margin: 0;
	}
}




@media (max-width: 952px) {

	label.logo img {
		height: 60px;
		padding: 0;
	}
	
}




@media (max-width: 860px) {
	nav {
		position: fixed;
	}

	label.logo img {
		height: 45px;
		padding-left: 20px;
		padding-top: 15px;
	}

	.checkbtn {
		display: block;
	}

	ul {
		position: fixed;
		width: 25%;
		height: 100vh;
		background: rgba(0,0,0,0.7);
		left: -100%;
		text-align: center;
		transition: all .5s;
	}

	nav ul li {
		display: block;
	}

	nav ul li a {
		font-size: 10px;
	}

	a:hover {
		background: none;
		color: #ffcf40;
	}

	#check:checked ~ ul {
		left: 0;
	}

	h1 {
		text-shadow: 2px 2px 8px #FFFFFF;
	}
	.container1 p {
		text-shadow: 2px 2px 8px #FFFFFF;
		font-weight: bold;
		padding: 10px;
	}

	.aboutContent {
		padding: 10px 30px;
	}

	.aboutContent h6 {
		font-size: 20px;
		padding-bottom: 20px;
	}

	.aboutContent p {
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: left;
	}

	.servicesContent1 {
		width: 100%;
		padding: 0;
		text-align: center;
	}

	.servicesContent2 {
		width: 100%;
		padding: 0;
		text-align: center;
	}

	.servicesContent1 h6 {
		color: #FFFFFF;
		font-size: 20px;
		padding-bottom: 20px;
		padding-left: 0;
	}

	.servicesContent2 h6 {
		color: #FFFFFF;
		font-size: 20px;
		padding-bottom: 20px;
	}

	.servicesContent1 p {
		color: #FFFFFF;
		text-align: left;
		padding: 15px 40px;
		text-align: left;
	}

	.servicesContent2 p {
		color: #FFFFFF;
		text-align: left;
		padding: 15px 40px;
		text-align: left;
	}

	.row {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.contactsContent1 {
		width: 100%;
	}

	.contactsContent2 {
		width: 100%;
		position: static;		
	}

	.contactsContent1 h6 {
		text-align: center;
		padding: 30px;
		font-size: 20px;
	}

	.contactsContent1 p {
		text-align: left;
		padding-left: 30px;
		padding-bottom: 30px;
	}

	.contactsContent2 h6 {
		font-size: 20px;
		text-align: center;
		padding: 25px 0;
	}

	label {
		margin-left: 30px;
	}

	input[type=text] {
		width: 85%;
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 20px;
		padding: 8px;

	}

	input[type=email] {
		width: 85%;
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 20px;
		padding: 8px;
	}

	#number1 {
		width: 20%;
		margin-left: 30px;
		margin-bottom: 20px;
		padding: 8px;
	}

	#number2 {
		width: 50%;
		margin-right: 30px;
		margin-bottom: 20px;
		padding: 8px;
	}

	input[type=submit] {
		width: 45%;
		margin-left: 30px;
		margin-bottom: 20px;
		padding: 15px;
		background-color: #dca115;
		color: white; 
	}

	.footer1 {
		display: block;
		width: 100%;
	}
	.footer2 {
		display: block;
		width: 100%;
	}
	.footer1 img {
		display: block;	
		padding-top: 10px;
		padding-left: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		height: auto;
	}

	.footer1 small {
		text-align: center;
		display: block;	
		padding: 0;
		color: #DDE5E5;
		font-size: 8px;
		margin-bottom: 15px;
	}


	.footer2 small {
		display: block;
		padding: 0;
		text-align: center;
		color: #DDE5E5;
		font-size: 8px;
		margin: 0;
	}
}